<header class="jumbotron jumbotron-fluid mt-n4">
    <h1 class="mx-2">Inventory</h1>
  </header>

  <div class="row float-right mb-5 mr-5">
      <div class="col-md-">
        <%= button_to "Add Book",, class: "btn btn-success btn-md btn-block"%>
      </div>
      <div class="col-md-4">
        <%= button_to "Manage Book Category","#", class: "btn btn-success btn-lgbtn-block"%>
      </div>
  </div>
<div style="clear:both"></div>
<div class="container">
  <div class="card mb-5">
    <div class="card-body">
      <h2 class="card-title">Harry Potter and The Chambers of Secrets</h2>
        <%= image_tag("hp2.jpeg",alt: "Harry Potter and The Chambers of Secrets ",class: "card-img float-left w-25 h-25 p-3 ")%>
      <div class="float-right">
        <div class="card-text p-3">
          <p>Author: JK Rowling </p>
          <p>Publisher: Cengage</p>
          <p>Edition: 1</p>
          <p>ISBN: 32132132132132</p>
          <p>Format: hardcover</p>
          <p>Condition: New</p>
          <p>Category: Fiction</p>
          <p>Description: This is a story about a boy sorcerer who is in a quest to find his purpose.</p>
        </div>
        <div class="row align-items-center">
          <%= link_to "Edit", "#", class: "btn btn-success w-25"%>
          <%= link_to "Delete", "#", class: "btn btn-success w-25 ml-3"%>
          <%= link_to "Renting History", "#", class: "btn btn-success w-25 ml-3"%>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>

  </div>



</div>
