<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Digital Library</a>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <% if current_admin_user %>
        <% if current_page?(admin_home_path)%>
          <li class="nav-item active">
            <%= link_to "Home", admin_home_path, class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Home", admin_home_path, class: "nav-link"%>
          </li>
        <% end %>

        <% if current_page?(manage_inventory_path)%>
          <li class="nav-item active">
            <%= link_to "Manage Inventory", manage_inventory_path, class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Manage Inventory", manage_inventory_path, class: "nav-link"%>
          </li>
        <% end %>

        <% if current_page?(admin_home_path)%>
          <li class="nav-item active">
            <%= link_to "Manage Reservations", "#", class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Manage Reservations", "#", class: "nav-link"%>
          </li>
        <% end %>

        <% if current_page?(admin_home_path)%>
          <li class="nav-item active">
            <%= link_to "Registered Users", "#", class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Registered Users", "#", class: "nav-link"%>
          </li>
        <% end %>

        <% if current_page?(admin_home_path)%>
          <li class="nav-item active">
            <%= link_to "My Profile", "#", class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "My Profile", "#", class: "nav-link"%>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to "Sign out", destroy_admin_user_session_path, method: :delete, class: "nav-link"%>
        </li>
      <% elsif current_user %>
      <% end %>
    </ul>
  </div>
</nav>